
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<router-outlet></router-outlet>

<div class="search">
    <form #form="ngForm" (submit)="onSubmit()">
        <input type="text" placeholder="Search City" name="city" [(ngModel)]="cityName">
    </form>
</div>
<div class="container">
    <div class="uperdata">
        <img src="../assets/sunflower-sun-summer-yellow.jpg" >



        <div class="weatherdata">
            <div class="City">
            {{weatherdata?.location?.country}}
            </div>
            <div class="temp">
            {{ weatherdata?.current?.temp_c| number: '1.0-0'}}°C
            
            </div>
        </div>
  
    </div>
    <div class="lowerdata">
        <h3>More Information</h3>
        <div class="moreInfo-Container">
            <div class="info-block">
                <div class="label">
                    <i class="fa-solid fa-temperature-quarter" style="font-size: 2em;" ></i>
                    <span>min</span>

                </div>
                <div class="value">
                    <h4 style="color: white; font-weight: bold; " >{{weatherdata?.current?.temp_c}}°C</h4>
                </div>
            </div>
            <div class="info-block">
                <div class="label">
                    <i class="fa-solid fa-temperature-high" style="font-size: 2em;"></i>
                    <span>max</span>

                </div>
                <div class="value">
                    <h4 style="color: white; font-weight: bold; " >{{weatherdata?.current?.feelslike_c}}°C</h4>
                </div>
            </div>
            <div class="info-block">
                <div class="label">
                    <i class="fa-solid fa-wind" style="font-size: 2em;"></i>
                    <span>wind</span>

                </div>
                <div class="value">
                    <h4 style="color: white; font-weight: bold; " >{{weatherdata?.current?.wind_kph}}kph</h4>
                </div>
            </div>
            <div class="info-block">
                <div class="label">
                    <i class="fa-solid fa-water" style="font-size: 2em;"></i>
                    <span>humidity</span>

                </div>
                <div class="value">
                    <h4 style="color: white; font-weight: bold; " >{{weatherdata?.current?.humidity}}%</h4>
                </div>
            </div>
        </div>
        

    </div>
</div>
